.custom-editor {
    padding: 24px 200px;

    span {
        margin: 10px;
    }
}
  
  .DraftEditor-root {
    min-height: 200px;
    border: solid 1px #bbb;
    box-sizing: border-box;
    border: 1px solid #ddd;
    cursor: text;
    padding: 16px;
    border-radius: 2px;
    margin-bottom: 2em;
    box-shadow: inset 0px 1px 8px -3px #ABABAB;
    background: #fefefe;
  }